body, html {
    height: 100%;
    margin: 0;
    box-sizing: border-box;

    font-family: "IBM Plex Sans", sans-serif;
}

/* Smooth theme switch */
*,
*::before,
*::after {
    transition: 
        background-color 0.5s ease-in-out, 
        color 0.4s ease-in-out;
        border-color 0.5s ease;
        box-shadow 0.4s ease,
        fill 0.4s ease,
        stroke 0.4s ease;
}

/* Dropdowns and pickers */
.dropdown-menu,
.dropdown-item {
    transition:
        background-color 0.4s ease,
        color 0.4s ease !important;
}

/* Navbar items */
.body-container {
    height: calc(100vh - 56px); /* subtract navbar height */
    display: flex;
    padding: 0;
}

/* Grid */
/* .col {
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
} */

.fixed-col {
    flex: 0 0 40%;
    padding: 1rem;
}

.scrollable-col-1, .scrollable-col-2 {
    flex: 1;
    padding: 0.5rem;
}

.card-props {
    height: 100%;
}

#request-body-text, #response-body-text {
    font-family: consolas;
    white-space: nowrap; /* prevent text wrapping */
    overflow-x: auto;    /* enable horizontal scrolling */
    font-size: 14px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copy-trans {
    transition: opacity 0.3s ease;
}

.grow-shrink-50 {
    flex: 1 1 50%;
}
.grow-shrink-33 {
    flex: 1 1 33.3%;
}

/* Colors */
.bg-primary-color {
    background-color: #34333d !important;
}

.td-style {
    height: 23px;
}

/* Extract Page */

.fs-small {
    font-size: 12px;
}

.phicon-container {
    font-size: 1.25rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.max-req-card-height {
    max-height: 395px;
}

/* Scrollable list */
.list-container {
    display: flex;
    flex-direction: column;
    flex: 1;        /* takes remaining space after the two input rows */
    min-height: 0;
}

.list-group {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
}

.list-group-item-ex {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    border: 0 !important;
    background-color: RGBA(var(--bs-secondary-rgb),var(--bs-bg-opacity, 0.1)) !important;
    margin-top: 0.2rem !important;
    margin-bottom: 0.2rem !important;
    border-radius: var(--bs-border-radius) !important;
}
.list-group-item-suppInf {
}

.list-group-item-ex > div {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
}

.control-input-disable > input {
    disable;
}

.container {
    max-width: 100% !important;
}

.extension-val {
    max-width: 350px;
}

.hidden {
    opacity: 0;
}

.min-w-45 {
    min-width: 45% !important;
}

.max-w-50 {
    max-width: 50% !important;
}



/* Supporting Info list */

.info-item {
    display: flex;
    align-items: stretch;
    gap: 10px;
    margin-bottom: 10px;
}

.info-content {
    flex: 1 1 auto;
    display: flex;
    /* align-items: center;
    justify-content: space-between; */
    background-color: RGBA(var(--bs-secondary-rgb),var(--bs-bg-opacity, 0.1)) !important;
    border-radius: var(--bs-border-radius) !important;
    padding: 10px 20px;
    min-width: 0;
    /* allows text truncation inside flex */
    overflow: hidden;
}

.info-index {
    --bs-text-opacity: 1;
    color: rgba(125, 126, 124 ,1);
    margin-right: 2rem !important;;
    flex-shrink: 0;
}

.info-label {
    flex-shrink: 0;
    margin-right: 25px;
}

.info-value {
    text-align: right;
    margin-left: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.info-copy-btn {
    background-color: RGBA(var(--bs-secondary-rgb),var(--bs-bg-opacity, 0.1)) !important;
    transition: background-color 0.15s ease, color 0.15s ease;
}

.second-info {
    font-size: 0.8rem !important;
}